
.modalContainer {
  position: absolute;
  top: 100rem;
  left: 55rem;
  --contentPaddingHorizontal: 0rem;
  --contentPaddingVertical: 0rem;
  --panelOpacityNormal: 0.7;
  --panelOpacityDark: 0.8;
  border-radius: 0rem;

  & > div {
    backdrop-filter: none !important;
  }
}

.infoSection {
  margin: 4rem;
  padding: 4rem;
  background-color: rgba(34, 40, 44, 0.6);
  border: 1px #2b333c solid;
  border-radius: 4rem;
}

.infoMain {
  display: flex;
  flex-direction: row;
  padding: 4rem;
  min-width: 300rem;
  max-width: 300rem;

  .value {
    color: var(--accentColorLight);
  }
}

.info {
  padding: 5rem;
  max-width: 100%;
  font-size: 13rem;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5rem;

  button {
    width: 48%;
  }

  button:first-child {
    margin-right: 2.5rem;
  }
};

.actionButton {
  border-radius: 4rem;
  background-color: #0f1013;

  &:hover {
    background-color: #1d1f25
  }

  &:active {
    background-color: #23262d
  }
}