# Default ignored files
/shelf/
/workspace.xml
/vcs.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Traffic.iml
# Editor-based HTTP Client requests
/httpRequests/
